:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #fffbf1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#logo {
  width: 5rem;
  margin-left: 1em;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  height: 55vh;
}

.nav-scrim {
  height: 35vh;
  background-color: black;
  opacity: 80%;
}

.nav-bar {
  display: flex;
  align-items: center;
  border: 1px solid red;
}

.nav-links {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.link {
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
}
