:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0);
  background-color: #fffbf1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h4 {
  text-align: center;
  color: #dbb72a;
  font-size: 1.2rem;
  margin-bottom: 0;
}

#logo {
  width: 5rem;
  margin-left: 1em;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
}

.nav-bar {
  height: 55vh;
}

.nav-scrim {
  height: 35vh;
  background-color: black;
  opacity: 80%;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.link {
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
}

.abella {
  width: 5rem;
  padding-top: 0.2em;
}

.footer-wrapper {
  background-color: #071902;
}

.subscribe-link,
.copyright,
.scroll-to-top {
  display: flex;
  align-items: center;
  color: #edece8;
}

.subscribe-link,
.scroll-to-top {
  justify-content: center;
  text-decoration: none;
}

.copyright {
  justify-content: space-between;
  padding: 0 1.5em;
}

.scroll-to-top {
  cursor: pointer;
  padding-bottom: 1em;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 50%;
  margin: 0 auto;
  padding-top: 1.5em;
}

.social-link {
  color: #edece8;
  scale: 200%;
}

.terms-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 1.5em;
  justify-content: space-evenly;
  padding-top: 3em;
}

.terms {
  padding: 0.5em 0;
  color: #edece8;
}

.subscribe,
.scroll {
  padding: 0 0.3em;
}

.chevron {
  padding-top: 0.3em;
}

.subscribe-wrapper {
  padding-top: 0.2em;
}

.footer-wrapper {
  margin-top: 0.5em;
}
